ng-map {
    display: block;
    height: 100vh;
}
html, body {
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
}
h1,h2,h3 {
    font-weight: 400;
    font-family: "Roboto Slab", serif;
}
i {
    vertical-align: middle;
}
#home, #newArtist {
    height: 100vh;
    display: grid;
    grid-template: 1fr / 50% 50%;
}
#newArtistForm {
    input {
        font-size: 1rem;
        display: block;
        width: 100%;
        padding: .25em 1em;
        border-radius: 0;
        border-width: 0 0 1px 0;
        border-color: #bbb;
    }
}
.tags {
    font-size: .9rem;
    .tag {
        background: #0001;
        margin: 0 .5em .5em 0;
        padding: .35em .5em;
        display: inline-block;
    }
}
#search {
    box-sizing: border-box;
    overflow: scroll;
    .result {
        margin: .5rem 0;
        padding: .5rem 1rem;
        h3 {
            margin: .25em 0;
            span {
                margin-right: .75rem;
            }
            a {
                white-space: nowrap;
                text-decoration: none;
                opacity: .5;
                color: black;
                font-weight: 300;
                font-size: 1rem;
                font-family: "IBM Plex Sans";
                img {
                    height: 1rem;
                    width: 1rem;
                    margin-bottom: 3px;
                    vertical-align: middle;
                }
                &:hover {
                    opacity: .8;
                }
            }
        }
        h4 {
            margin: .5em 0;
            font-weight: 400;
            font-size: 1rem;
            i {
                font-size: 1.1rem;
            }
        }
        p {
            margin: .75em 0;
        }
    }
}
#focusedArtist {
    background: #eef;
}