ng-map {
    display: block;
    height: 100vh;
}
html, body {
    margin: 0;
}
#home, #newArtist {
    height: 100vh;
    display: grid;
    grid-template: 1fr / 50% 50%;
}
#newArtistForm {
    input {
        font-size: 1rem;
        display: block;
        width: 100%;
        padding: .25em 1em;
        border-radius: 0;
        border-width: 0 0 1px 0;
        border-color: #bbb;
    }
}
.tags {
    .tag {
        background: #e9e9e9;
        margin: .25rem;
        padding: .5rem;
        display: inline-block;
    }
}